*{
    color: blanchedalmond;
}

.banner-container{
    position: relative; 
    width: 100%; 
    height: 79vh;
}
.day{
    background-color: #0093E9;
    background-image: linear-gradient(
    160deg, #0093E9 0%, #80D0C7 100%);
}
.night{
    background: #A065D1;
    background: -webkit-linear-gradient(top, #A065D1, #D0A5EF);
    background: -moz-linear-gradient(top, #A065D1, #D0A5EF);
    background: linear-gradient(to bottom, #A065D1, #D0A5EF);
}
.current-weather-container{
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding-top: 5%;
}
.container{
   width:50%;   
}
.one{
    text-align: center;
    padding-top: 25px;
}
.two>img{
    display: block;
    width: 100px;
    padding-bottom: 0;
    margin: 0 auto;

}
.two>h1{
    text-align: center; 
}

.chartWrapper {
    /* pointer-events: none; */
    position: absolute;
    bottom: 0;
    width:100%;
    height:45%;
    
    overflow-x:auto;
    overflow-y: hidden;
    scrollbar-width: thin;
}
.chartWrapper::-webkit-scrollbar {
    width: 10px;
  }
.chartAreaWrapper {
   margin-top:10px;
   min-width: 150vw;
   width: 1500px;
   height:28vh;
}

  
 
